.task-list-container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top:8vh;
    .heading{
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 10px;
    }
  }
  
  .task-toggle {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap:10px;
  }
  
  .task-toggle-option {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #eaeaea;
    transition: background-color 0.3s ease;
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .task-toggle-option.active {
    background-color: #ccc;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task-item {
    margin-bottom: 15px;
    border-bottom: 0.5px solid #ccc;
  }
  
  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width:600px;
    cursor: pointer;
  }

  .task-header-unexpanded {
    display: flex;
    /* justify-content: space-between; */
    gap:10px;
    align-items: center;
    padding: 10px;
    width:600px;
    cursor: pointer;
  }
  
  
  .task-header h3 {
    margin: 0;
  }
  
  .dropdown-arrow {
    font-size: 1.5rem;
  }
  
  .task-details {
    padding: 10px;
    display: none;
  }
  
  .task-details.active {
    display: block;
  }

  .option-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 50px;
    font-size: 1.1rem;
    padding-left: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Remove default arrow in WebKit browsers */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGQ9Ik04IDEyLjc1TDAuODggNS42MSAxLjUzIDQuOTYgOCAxMS40MiAxNC40NyA0Ljk2bC42NS42NS03LjE1IDcuMTN6Ii8+Cjwvc3ZnPgo=') no-repeat right 1rem center; /* Custom arrow */
    background-size: 12px; /* Adjust the size of the custom arrow */
    background-color: #fff; /* Background color */
    border: 1px solid #dfdfdf;
    margin-right: 2rem;
    padding-right: 1rem; /* Add padding to the right */
    /* padding: 0.5rem; */
  }
  
  /* Ensure padding and margin for the container */
  .select-container {
    position: relative;
    
    display: inline-block;
    margin-right: 2rem; /* Add margin to the right of the container */
    p{
      margin-bottom: 5px;
      font-size: 0.9rem;
      color: #7e7e7e;
      font-weight: 600;
    }
  }
  
  .notes{
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .notes::placeholder{
    font-size: 1rem;
    padding-left: 1rem;
  }

  .notes-container{
    p{
      margin-bottom: 5px;
      font-size: 0.9rem;
      color: #7e7e7e;
      font-weight: 600;
    }
  }

  .rounded-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  